<template>
  <require from="../resources/elements/island-form"></require>
  <require from="../resources/elements/island-total"></require>
  <require from="../resources/elements/category-form"></require>
  <require from="../resources/elements/category-list"></require>
  <require from="../resources/elements/simple-map"></require>

  <div class="ui stacked segment">
    <div>
      <island-total islandTotal.bind="islandTotal" user-details.bind="userDetails"></island-total>
    </div>
  </div>

  <div class="ui stacked segment">
    <div>
        <island-form islands.bind="islands" region-categories.bind="regionCategories" user-details.bind="userDetails" ></island-form>
    </div>
  </div>
  <div class="seven wide column">
    <simple-map></simple-map>
    <div class="ui hidden divider"></div>
  </div>
  <div class="ui stacked segment">
    <h1>View Islands by Region</h1>
    <div class="ui stackable two column grid">
      <div class="three wide column">
        <category-form region-categories.bind="regionCategories" ></category-form>
      </div>

      <div class="twelve wide column">
        <category-list filter-islands.bind="filterIslands"   ></category-list>
      </div>

    </div>
  </div>
</template>
